doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/webuploader.css')
    script(src='/javascripts/jquery.min.js', type="text/javascript")
    script(src='/javascripts/webuploader.js', type="text/javascript")
  body
    block content
